<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Placa Veicular</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Upload de Imagem para Detecção de Placa Veicular</h1>
    <input type="file" id="imageInput">
    <button onclick="uploadImage()">Enviar</button>

    <h2>Resultado:</h2>
    <pre id="result"></pre>

    <script src="/static/script.js"></script>
</body>
</html>
