<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Placa Veicular</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Detecção de Placa Veicular</h1>
        </div>

        <div class="section">
            <h2>1. Upload da Imagem</h2>
            <input type="file" id="imageInput">
            <br>
            <button onclick="uploadImage()">Enviar</button>
        </div>

        <div class="section">
            <h2>2. Resultado da Detecção</h2>
            <p id="noResults">Nenhum resultado ainda...</p>
            <div id="result" style="display: none;">
                <h3>Placa Detectada:</h3>
                <h3 id="extractedTextTitle">Texto Extraído:</h3>
                <p id="extractedText">NULO</p>
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
